@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: #222831;
}

.calc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #393E46;
    padding: 20px;
    border: 2px solid #EEEEEE;
    border-radius: 8px;
}

.calc__buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.calc__buttons-row {
    display: flex;
    gap: 4px;
}

.calc__btn {
    font-size: 16px;
    flex: 1;
    background-color: rgba(238, 238, 238, .75);
    padding: 16px 32px;
    border: 2px solid #222831;
    border-radius: 4px;
    transition: background-color 63ms linear;
}

.calc__btn:hover {
    background-color: rgba(238, 238, 238, .5);
}

.calc__display {
    padding: 8px;
    background-color: #EEEEEE;
    border: 2px solid #222831;
    border-radius: 4px;
}

.calc__display-txt {
    font-size: 25px;
    text-align: right;
    letter-spacing: 1.25px;
}

.footer {
    padding: 16px 0;
  }
  
  .footer__text {
    color: #eeeeeebf;
    font-size: 12.8px;
    text-align: center;
  }

